.u-section-1 .u-sheet-1 {
  min-height: 1711px;
}

.u-section-1 .u-image-1 {
  height: 641px;
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  min-height: 350px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.1875rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 641px;
  margin-top: 0;
  margin-bottom: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.9444444444444444rem;
  }
}